@model ElecPOE.DTO.LicenseDTO


<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet" />

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.css" />



<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <h5 class="my-3">Candidate Legal Compliance Certificate Details</h5>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">@Model.Title</h5>
                        <p class="text-muted mb-1">@Model.Name - @Model.LastName</p>
                        <strong>ID Number</strong> <p class="text-muted mb-4">@Model.IDNumber</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Name @Model.LastName</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Certificate</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.LicenseName</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Expiry</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.DateOfExpiry.ToShortDateString()</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Issued On</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.DateOfIssue.ToShortDateString()</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Company</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Company</p>
                            </div>

                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Attempts</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Frequency</p>
                            </div>
                        </div><hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Download</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">
                                    <a asp-action="LicenseDownload" asp-route-fileName="@Model.FileUpload" asp-route-folder="Licenses" class="btn btn-warning"><i class="fa bi-download"></i> Download License</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.js"></script>
