@model IEnumerable<ElecPOE.Models.Student>

 <style>
    .form-control, .accordion-item {
        border-color: black;
    }

    .acchead {
        background-color: #2774F1
    }

    .select2-selection__rendered {
        line-height: 31px !important;
    }

    .select2-container .select2-selection--single {
        height: 38px !important;
        border-color: black;
    }

    .select2-selection__arrow {
        height: 34px !important;
    }

    .card-header, .head {
        background-color: darkred;
    }

    a {
        text-decoration: none;
    }

    .card-border, .table {
        border-color: black;
    }
    thead{
        background-color: darkred;
    }
    th{
        color: white;
    }

    .ref {
        background-color: darkblue;
    }

    .vs {
        margin-left: 240px;
    }
    .table-striped>tbody>tr:nth-child(odd)>td, 
    .table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #FCCFCF; 
 }
</style>


<div class="col-xl-12">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas bi-mortarboard-fill me-1 text-white"></i>
            <span class="text-white">Registered Students List<span class="text-bold"></span></span>
        </div>

        <div class="card-body">
            <table class="table table-striped" id="datatablesSimple">
                <thead style="color:darkred">
                    <tr>
                        <th>
                            Action
                        </th>
                        <th class="text-white">Name</th>
                        <th class="text-white">Surname</th>
                        <th class="text-white">ID Number</th>
                        <th class="text-white">Cellphone</th>
                        <th class="text-white">Student Number</th>
                        <th class="text-white">Details</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a class="text-primary" asp-action="OnViewAllFiles" asp-controller="Evidence" asp-route-StudentNumber="@item.StudentNumber"><i class="fa bi-image"></i> Gallery</a> |
                                <a class="text-danger" asp-action="PlaceLearner" asp-controller="LearnerPlacement" asp-route-StudentNumber="@item.StudentNumber"><i class="fa fa-spinner"></i> Track</a>
                            </td>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.IDNumber</td>
                            <td>@item.Cellphone</td>
                            <td>@item.StudentNumber</td>
                            <td>
                                <a class="text-danger" asp-action="StudentDetail" asp-route-StudentNumber="@item.StudentNumber"><i class="fa fa-info-circle"></i> Information</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<br />

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $(function () {

        var userRole = '@ViewData["role"]';

        if (userRole == 'Facilitator') {
            
            Swal.fire({
                position: 'middle',
                icon: 'success',
                title: 'Welcome ' + '@ViewData["CurrentUser"]',
                showConfirmButton: false,
                timer: 3500,
                footer: 'Please pay attention to updates that are underway (May 2024).'
            })


        }

        
    });
</script>







